# Ignore everything.  We'll whitelist what we want to pull in.
/*
/*/

# Git meta files
!.gitignore
!.gitattributes
!README.md

# Whitelisted directories/files
!/Projet_cartes/src
!/Projet_cartes/.classpath
!/DEVOIR_2/src
!/DEVOIR_2/.classpath
!/DEVOIR_2/*.jpg

# Blacklist bin folder